
<article>
  <div class="contents">
    <ul class="row">
    <% @blogs.each do |blog| %>
      <div class="PhotoBox" class="col-sm-6 col-md-3">
         <%= image_tag(blog.image_url) if blog.image.present?%>
         <div class="SlideBox">
            <p class="Caption"><%= blog.content %></p>
            <ul class="Caption2">
            <li class="Caption2">name:<%= blog.user.name%></li>
            <li class="Caption2">
              <time datetime="<%= blog.created_at %>">
              <%= time_ago_in_words(blog.created_at) %> ago
              </time>
            </li>
            </ul>
            <li class="Caption"><button type="button" class="btn btn-default btn-circle">
            <%= link_to 'more', blog_path(blog.id) %></button></li>
            <% if current_user.present? %>
              <% if blog.user_id == current_user.id %>
              <li class="Caption"><button type="button" class="btn btn-danger btn-circle">
                <%= link_to 'del', blog_path(blog.id),method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button></li>
              <li class="Caption"><button type="button" type="button" class="btn btn-warning btn-circle">
                <%= link_to 'Edit', edit_blog_path(blog.id),data: { confirm: '本当に編集していいですか？' } %></button></li>
              <% end %>
            <% end %>
         </div>
      </div>
    <% end %>
    </ul>
  </div>
</article>
